<table class="table schedule" style="max-width:100%;font-family: Roboto,sans-serif;font-size: 0.7em; line-height: .75em">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:12%;text-align:right;font-family:Montserrat,sans-serif">{{ .date }}</td>
            <td style="width:50%;text-align:left;font-family:Montserrat,sans-serif">{{ .title | markdownify }}</td>

            {{- if .header }}
            <td style="width:5%;text-align:center" class="mid-table-header"><b>Readings</b></td>
            <td style="width:5%;text-align:center" class="mid-table-header"><b>Slides</b></td>
            <td style="width:5%;text-align:center" class="mid-table-header"><b>Lab</b></td>
            
            <td style="width:5%;text-align:center" class="mid-table-header"><b>HW</b></td>


            {{- else }}
            
             {{- if .readings }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/post/{{ .readings }}/">
                    <i class="fas fa-book-reader fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book-reader fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .slides }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/post/{{ .slides }}/">
                    <i class="far fa-file-pdf fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="far fa-file-pdf fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .lab }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .lab }}/">
                    <i class="fas fa-laptop-code fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-laptop-code fa-lg"></i></font>
            </td>
            {{- end }}

           

            {{- if .homework }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/assignments/{{ .homework }}/">
                    <i class="fas fa-user-friends fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-user-friends fa-lg"></i></font>
            </td>
            {{- end }}



            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
